<section class="mt-5">
    <div class="container">

        <div class="row align-items-center">
            <div class="col-4">
                <div class="card  text-center card-index rounded-4">

                    <i class="fa-solid fa-book-open fa-4x mt-3"></i>


                    <div class="">
                        <h4 class="fw-bold">Le goût de l'apprentissage</h4>
                        <p class="">
                            Autodidacte, je renforce mes connaissances et ma pratique en établissant une veille
                            régulière et en me formant par différentes ressources.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card   rounded-4 text-center card-index">

                    <i class="fa-solid fa-book-open fa-4x mt-3"></i>


                    <div class="">
                        <h4 class="fw-bold">Donner vie à un projet</h4>
                        <p class="">
                            Le numérique offre la possibilité de transformer une simple idée en un projet concret.
                            C’est un aspect que j’apprécie particulièrement dans ce domaine.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card rounded-4 text-center card-index">

                    <i class="fa-solid fa-book-open fa-4x mt-3"></i>


                    <div class="">
                        <h4 class="fw-bold">Rien n'est impossible</h4>
                        <p class="">
                            Face aux problèmes, j’aime réfléchir et observer les différentes solutions possibles,
                            en autonomie ou avec l’aide d’une communauté.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
