<section class="container">
    <div class="row bg-light align-items-center">
        <div class="col-12">
            <h3 class="fw-bolder text-center">Qui suis je ?</h3>
        </div>
        <div class="col-6">
            <img src="{{ asset('asset/img/img.png') }}" alt="" class="img-fluid">
        </div>
        <div class="col-6">
            <p>
                Bonjour, je suis Benoit Menier, développeur web junior et créateur de sites internet.
            </p>
            <p>
                Reconverti dans le numérique depuis 2020, j’ai commencé à m’auto-former sur les langages HTML et CSS.
                En 2021, j’ai intégré un bootcamp (La Piscine Bordeaux) dans lequel j’ai pu consolider ces acquis et
                travailler sur d’autres domaines (WordPress, SEO ou encore web design). J’ai par la suite suivi une
                formation de 6 mois en développement web (3WA). Depuis mars 2022, je suis à mon compte et travaille
                notamment sur la création et refonte de sites via WordPress.
            </p>

            <p>
                Passionné par le web, j’ai à cœur d’accompagner des entreprises ou des indépendants dans le
                développement de leurs projets numériques et de les aider à accroître leur visibilité sur internet.
            </p>
        </div>
    </div>
</section>
