<section class="mt-5 container">
    <h2 class="text-center fw-bolder">Mes projets</h2>

    <div class="" data-flickity='{"pageDots": true,"cellAlign": "left", "wrapAround": true, "imagesLoaded": true}'>
        <div class="col-12 col-md-4 px-1">
            <img src="{{ asset('asset/img/covers/cover-5.jpg') }}" class="img-fluid" alt="...">

        </div>
        <div class="col-12 col-md-4 px-1">
            <img src="{{ asset('asset/img/covers/cover-4.jpg') }}" class="img-fluid" alt="...">
        </div>
        <div class="col-12 col-md-4 px-1">
            <img src="{{ asset('asset/img/covers/cover-6.jpg') }}" class="img-fluid" alt="...">
        </div>
        <div class="col-12 col-md-4 px-1">
            <img src="{{ asset('asset/img/covers/cover-1.jpg') }}" class="img-fluid" alt="...">
        </div>
    </div>
</section>
