<section class="container-fluid bg-dark  p-5 mt-5">

    <div class="row text-white">
        <div class="col-12 text-center mt-5">
            <h2 class="fw-bold">Mes compétence</h2>

        </div>
        <div class="col-8 text-center offset-2">
            <h3>Front-end</h3>
            <div class="row mt-3 justify-content-center">
                <div class="col-3">
                    <h4 class="fw-bold">HTML</h4>
                    <i class="fa-brands fa-html5 fa-4x"></i>
                </div>
                <div class="col-3">
                    <h4 class="fw-bold">CSS</h4>
                    <i class="fa-brands fa-css3-alt fa-4x"></i>
                </div>
                <div class="col-3">
                    <h4 class="fw-bold">SASS</h4>
                    <i class="fa-brands fa-sass fa-4x"></i>
                </div>
                <div class="col-3">
                    <h4 class="fw-bold">JAVASCRIPT</h4>
                    <i class="fa-brands fa-js fa-4x"></i>
                </div>
            </div>
        </div>
        <div class="col-8 text-center offset-2 mt-5">
            <h3>Back-end</h3>
            <div class="row mt-3 justify-content-center">
                <div class="col-4">
                    <h4 class="fw-bold">PHP</h4>
                    <i class="fa-brands fa-php fa-4x"></i>
                </div>
                <div class="col-4">
                    <h4 class="fw-bold">SYMFONY</h4>
                    <i class="fa-brands fa-symfony fa-4x"></i>
                </div>
                <div class="col-4">
                    <h4 class="fw-bold">SQL</h4>
                    <i class="fa-solid fa-database fa-4x"></i>
                </div>

            </div>
        </div>
    </div>
</section>
