<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="row justify-content-center">
                        <div class="col-1">
                            <a style="color: white" href="https://www.linkedin.com/in/benoit-menier-1055751ba/" target="_blank">
                                <i class="fa-brands fa-linkedin-in fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-1">
                            <a href="https://github.com/benoit17630" target="_blank" style="color:white">
                                <i class="fa-brands fa-github fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-12 mt-2">
            <p class="mb-3 mb-md-0 fs-xxs text-muted text-center">
                © {{ "now"|date('Y') }} All rights reserved. Designed by Benoit Menier.
            </p>
        </div>
        <div class="col-12 mt-2">
            <div class="row justify-content-center">
                <div class="col-3 text-center">
                    <a href="{{ path('app_privacy_policy') }}" class="text-white text-decoration-none">Politique de confidentialité</a>
                </div>
                <div class="col-3 text-center">
                    <a href="{{ path('app_legal_mention') }}" class="text-white text-decoration-none">Mentions légales</a>
                </div>
            </div>
        </div>
        <div class="col-12 text-center mt-5">
            <div class="btn btn-white btn-sm">Réviser le consentement</div>
        </div>
    </div>
</div>
