//
// user.scss
// Use this to write your custom SCSS
//

.card-index{
  border: 5px solid #1B2A4E;
}
.privacy-title{
  color: #0e7490;
  font-weight: bold;
}
.privacy-content{
  color: rgb(122, 122, 122);
}
.privacy-font{
  font-family: 'Kanit', sans-serif;
}
