<div class="container text-center">
    <h3>{{ name }} cherche a vous contacter.</h3>

    <h6>au sujet de :
        <br>
        {{ sujet }}
    </h6>
    <p>{{ message }}</p>

    <p>une reponse attendu a l'adresse mail suivante:
        <br>
    {{ mail }}
    </p>
</div>
